@import 'leaflet/dist/leaflet.css';
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-container {
  height: 600px;
}

@media (min-height: 768px) {
  .leaflet-container {
    height: 800px;
  }
}


:root { --ring: 2px solid rgb(59 130 246 / 50%); }
:focus-visible { outline: none; box-shadow: 0 0 0 2px rgba(59,130,246,.5); }
