@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-container {
  height: 600px;
}

@media (min-height: 768px) {
  .leaflet-container {
    height: 800px;
  }
}


/* Todo do sprawdzenia */
/* Opcjonalnie: ładniejsze focusy */
:root { --ring: 2px solid rgb(59 130 246 / 50%); }
:focus-visible { outline: none; box-shadow: 0 0 0 2px rgba(59,130,246,.5); }
